@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --primary: #FA8F02;
    --primary-soft: #FFCC89;
    --secondary: #0075AD;
    --secondary-soft: #02A9FA;
}